.js-jump-to-nav-smooth-scroll {
    scroll-behavior: smooth !important;
}

.jump-to-nav-wrapper {
   
    // Base
    --jtn-idle-width: 40px;
    --jtn-base-font-size: 16px;
    --jtn-ff-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    --jtn-common-space: .8125em;
    --jtn-border-radius: .75em;
    
    // Colors
    --jtn-bg-color: #fff;
    --jtn-text-color: #333;
    --jtn-link-color: #1f4de3;
    --jtn-gray-100: #ededed;
    --jtn-gray-200: #{darken(#ededed, 10%)};
    --jtn-color-border-common: rgba(0, 0, 0, 0.05);
    
    // Transition
    --jtn-ease: cubic-bezier(0.19, 1, 0.22, 1);
    --jtn-transition-speed: 400ms;
    
    // Misc
    --jtn-box-shadow-deep: 3px 5px 25px rgba(0, 0, 0, .18);
}

.jump-to-nav-wrapper {
    position: fixed;
    top: 6.25em;
    right: .9375em;

    font-size: var(--jtn-base-font-size) !important;

    filter: drop-shadow( 3px 5px 15px rgba(0, 0, 0, .18));
    pointer-events: none;

    .jump-to-nav {
        overflow: hidden;

        width: 15em;
        height: auto;

        transition: clip-path var(--jtn-transition-speed) var(--jtn-ease);

        color: var(--jtn-text-color);
        border-radius: var(--jtn-border-radius);
        background-color: var(--jtn-bg-color);

        font-family: var(--jtn-ff-primary);

        clip-path: inset(0 0 calc(100% - var(--jtn-idle-width)) calc(100% - var(--jtn-idle-width)) round var(--jtn-border-radius));

        > *:not(.jump-to-nav__maximize) {
            visibility: hidden;

            transition: visibility var(--jtn-transition-speed) var(--jtn-ease);
            transition-delay: var(--jtn-transition-speed);
            pointer-events: none;
            
            a,
            button {
                &:focus {
                    outline: 0;
                }
            }
        }

        .jump-to-nav__maximize {
            position: absolute;
            top: 0;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            width: var(--jtn-idle-width);
            height: var(--jtn-idle-width);

            cursor: pointer;

            border: 0;
            background-color: var(--jtn-bg-color);
            pointer-events: auto;

            svg {
                position: relative;
                right: 1px;

                width: .5625em;
            }
        }

        .jump-to-nav__minimize {
            width: 28px;
            height: 28px;
            margin-left: auto;
            padding: 0;

            cursor: pointer;

            border: 0;
            border-radius: 30px;
            background-color: transparent;

            &:hover {
                background-color: var(--jtn-gray-100);
            }
        }

        a {
            display: inline-block;

            margin-bottom: .5em;

            color: var(--jtn-link-color);

            font-size: .75em;

            text-decoration: none;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;

            list-style-type: none;

            li {
                padding-left: .625em;
            }
        }

        .jump-to-nav__nav {
            > ul {
                margin-top: 0;
                margin-left: -.625em;
            }
        }

        .jump-to-nav__header {
            display: flex;
            align-items: center;
            min-height: 3.125em;

            padding: 0 .9375em 0 1.25em;
            border-bottom: 1px solid var(--jtn-color-border-common);
        }

        .jump-to-nav__body {
            padding: .625em 1.25em;
            border-right: 1px solid #fff;

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
        
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-thumb {
                outline: 0;
                background-color: var(--jtn-gray-100);

                &:hover {
                    background-color: var(--jtn-gray-200);
                }
            }
        }

        [role="heading"] {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: antialiased;
            font-weight: bold;
            
            &[aria-level="1"] {
                font-size: 1.0625em;
            }
            
            &[aria-level="2"] {
                margin-bottom: .5em;
                font-size: .875em;
            }
        }

        .jump-to-nav__item--active {
            font-weight: bold;
        }
    }

    &.jump-to-nav-wrapper--showing {
        pointer-events: auto;
        
        .jump-to-nav {
            clip-path: inset(0 0 0 0 round var(--jtn-border-radius));

            > * {
                visibility: visible;

                transition-delay: 0ms;
                pointer-events: auto;

                a,
                button {
                    &:focus {
                        outline: auto;
                    }
                }
            }

            .jump-to-nav__maximize {
                display: none;
            }

            .jump-to-nav__body {
                overflow: auto;
            }
        }
    }
}
