:root {

    // Base
    --jtn-idle-width: 40px;
    --jtn-base-font-size: 16px;
    --jtn-small-font-size: 12.5px;
    --jtn-ff-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    --jtn-space-common: 13px;
    --jtn-border-radius-small: 4px;
    --jtn-border-radius-large: 12px;
    --jtn-dialog-width: 240px;
    --jtn-padding-y-common: 10px;
    --jtn-padding-x-common: 16px;
    --jtn-link-spacing: 7px;

    // Colors
    --jtn-color-bg: #fff;
    --jtn-color-text: #333;
    --jtn-color-primary: #1f4de3;
    --jtn-gray-50: #{lighten(#e6e6e6, 5%)};
    --jtn-gray-100: #e6e6e6;
    --jtn-gray-200: #{darken(#e6e6e6, 10%)};
    --jtn-color-border-common: rgba(0, 0, 0, 0.1);
    --jtn-color-highlight: rgba(0, 0, 0, .2);

    // Transition
    --jtn-transition-ease: cubic-bezier(0.85, 0, 0.15, 1);
    --jtn-transition-speed: 200ms;

    // Misc
    --jtn-box-shadow-shallow: 3px 5px 10px rgba(0, 0, 0, .13);
    --jtn-box-shadow-deep: 3px 5px 25px rgba(0, 0, 0, .18);
    --jtn-filter-drop-shadow-deep: 3px 5px 15px rgba(0, 0, 0, .18);
}

.jump-to-nav {
    position: fixed;
    top: 100px;
    right: 18px;

    pointer-events: none;

    font-size: var(--jtn-base-font-size) !important;

    filter: drop-shadow(var(--jtn-filter-drop-shadow-deep));

    * {
        -webkit-font-smoothing: auto;
    }

    *,
    :after,
    :before {
        box-sizing: border-box;
    }

    .jump-to-nav__dialog {
        overflow: hidden;

        width: var(--jtn-dialog-width);
        height: auto;

        transition: clip-path var(--jtn-transition-speed) var(--jtn-transition-ease);

        color: var(--jtn-color-text);
        border-radius: var(--jtn-border-radius-large);
        background-color: var(--jtn-color-bg);

        font-family: var(--jtn-ff-primary);

        clip-path: inset(
            0
            0
            calc(100% - var(--jtn-idle-width))
            calc(100% - var(--jtn-idle-width))
            round
            var(--jtn-border-radius-large)
        );

        > *:not(.jump-to-nav__maximize) {
            visibility: hidden;

            transition: visibility var(--jtn-transition-speed) var(--jtn-transition-ease);
            transition-delay: var(--jtn-transition-speed);
            pointer-events: none;

            a,
            button {
                &:focus {
                    outline: 0;
                }
            }
        }

        .jump-to-nav__maximize {
            position: absolute;
            top: 0;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            width: var(--jtn-idle-width);
            height: var(--jtn-idle-width);

            cursor: pointer;
            pointer-events: auto;

            border: 0;
            background-color: var(--jtn-color-bg);

            svg {
                position: relative;
                right: 1px;

                width: 9px;
            }
        }

        .jump-to-nav__minimize {
            width: 28px;
            height: 28px;
            margin-left: auto;
            padding: 0;

            cursor: pointer;

            border: 0;
            border-radius: 30px;
            background-color: transparent;

            &:hover {
                background-color: var(--jtn-gray-100);
            }
        }

        .jump-to-nav__list,
        .jump-to-nav__nested-list {
            margin-bottom: 0;
            padding-left: 0;

            list-style-type: none;

            line-height: 1.2;
        }

        .jump-to-nav__list {
            margin-top: 0;
            margin-left: -10px;
        }

        .jump-to-nav__item {
            padding-left: 10px;
            position: relative;
            
            &:has(.jump-to-nav__item--active) {
                > .jump-to-nav__link {
                    font-weight: 500;
                }
            }
        }
        
        .jump-to-nav__link {
            display: block;
            
            text-decoration: none;
            
            color: var(--jtn-color-primary);
            
            font-size: var(--jtn-small-font-size);
            font-weight: normal;
            padding-right: 30px;
            margin-bottom: var(--jtn-link-spacing);

            &:hover {
                span {
                    text-decoration: underline;
                }

                + .jump-to-nav__item-controls .jump-to-nav__copy-button {
                    opacity: 1;
                }
            }
        }

        .jump-to-nav__item-controls {
            position: absolute;
            right: -5px;
            top: -4px;
        }

        .jump-to-nav__copy-button {
            width: 23px;
            height: 23px;
            border: 0;
            border-radius: 23px;
            background-color: transparent;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 0;
            transition: all 100ms linear;
            
            svg {
                width: 14px;
                height: 14px;
                pointer-events: none;
            }
            
            path {
                fill: var(--jtn-color-text);
            }
            
            &:hover {
                background-color: var(--jtn-gray-100);
                opacity: 1;

                + .jump-to-nav__copy-bubble {
                    opacity: 1;
                }
            }
        }

        .jump-to-nav__copy-bubble {
            position: absolute;
            background-color: var(--jtn-color-text);
            color: #fff;
            height: 21px;
            font-size: 9px;
            border-radius: 23px;
            top: 1px;
            right: calc(100% + 5px);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            transition: opacity 100ms linear;
            opacity: 0;
            pointer-events: none;
            line-height: 1;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;

            &:after {
                position: absolute;
                left: calc(100% - 1px);
                top: calc(50% - 3.5px);
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 6.9px;
                border-color: transparent transparent transparent var(--jtn-color-text);
            }
        }

        .jump-to-nav__header {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            min-height: 50px;
            padding: var(--jtn-padding-y-common) var(--jtn-padding-x-common) 0 var(--jtn-padding-x-common);

            border-bottom: 1px solid var(--jtn-color-border-common);
        }

        .jump-to-nav__body {
            padding: var(--jtn-padding-y-common) var(--jtn-padding-x-common);

            border-right: 1px solid var(--jtn-color-bg);
        }

        [role="heading"] {
            font-weight: bold;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: antialiased;

            &[aria-level="1"] {
                font-size: 17px;
            }

            &[aria-level="2"] {
                margin-bottom: 8px;

                font-size: 14px;
            }
        }

        .jump-to-nav__item--active {
            > .jump-to-nav__link {
                font-weight: bold;
            }
        }

        .jump-to-nav__search {
            position: relative;
    
            flex: 0 0 100%;
    
            width: 100%;
            margin: var(--jtn-space-common) 0;
    
            font-size: var(--jtn-small-font-size);
    
            &.jump-to-nav__search--loading {
                visibility: hidden;
            }

            &.jump-to-nav__search--has-value {
                .jump-to-nav__search-clear {
                    display: flex;
                }
            }
        }
    
        .jump-to-nav__search-icon {
            position: absolute;
            top: 50%;
            left: 12px;
    
            width: 12px;
            height: 12px;
    
            transform: translateY(-50%);
    
            path {
                fill: var(--jtn-color-text);
            }
        }

        .jump-to-nav__search-clear {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 30px;
            height: calc(100% - 4px);
            background-color: var(--jtn-gray-50);
            background: linear-gradient(90deg, rgba(#f3f3f3, 0) 0, var(--jtn-gray-50) 25%);
            display: none;
            align-items: center;
            justify-content: center;
            padding: 0;
            cursor: pointer;
            border: 0;

            svg {
                width: 14px;
                height: 14px;
            }

            path {
                fill: var(--jtn-color-text);
            }
        }
    
        .jump-to-nav__search-input[type="text"] {
            width: 100%;
            margin: 0;
            padding: var(--jtn-padding-y-common) 2px var(--jtn-padding-y-common) 32px;
    
            border: 0;
            border-radius: var(--jtn-border-radius-small);
            background-color: var(--jtn-gray-50);
            box-shadow: none;
    
            font-family: var(--jtn-ff-primary);
            font-size: var(--jtn-small-font-size);
            line-height: 1;
    
            &:focus {
                outline-color: var(--jtn-color-primary);
            }
        }
    
        .autoComplete_wrapper {
            position: relative;
    
            flex: 0 0 100%;
    
            width: 100%;
    
            > ul {
                position: absolute;
                z-index: 10;
                top: calc(100% + 5px);
                left: 0;
    
                overflow: auto;
    
                width: 100%;
                max-height: 160px;
                margin: 0;
                padding: 0;
    
                list-style-type: none;
    
                border: 1px solid var(--jtn-color-border-common);
                border-radius: var(--jtn-border-radius-small);
                background-color: var(--jtn-color-bg);
                box-shadow: var(--jtn-box-shadow-shallow);
            }
    
            li {
                padding: calc(var(--jtn-padding-x-common) / 2) var(--jtn-padding-x-common);
    
                border-bottom: 1px solid var(--jtn-gray-100);
    
                font-size: var(--jtn-small-font-size);
                font-weight: bold;
                line-height: 1.4;
    
                &:last-child {
                    border-bottom: 0;
                }
            }
    
            mark {
                padding: 0;
    
                background-color: var(--jtn-gray-100);
            }

            &[aria-expanded="true"] {
                li:first-child:not([aria-selected="true"]):not(:only-child) {
                    background-color: var(--jtn-gray-50);
                }
            }

            [aria-activedescendant*="autoComplete_result_"] + ul li:not([aria-selected="true"]):not(:only-child):first-child {
                background-color: transparent;
            }
    
            [aria-selected="true"] {
                color: var(--jtn-color-bg);
                background-color: var(--jtn-color-primary);
    
                mark {
                    color: var(--jtn-color-bg);
                    background-color: var(--jtn-color-highlight);
                }

            }
        }
    }

    &.jump-to-nav--showing {
        pointer-events: auto;

        .jump-to-nav__dialog {
            clip-path: inset(0 0 0 0 round var(--jtn-border-radius-large));

            > * {
                visibility: visible;

                transition-delay: 0ms;
                pointer-events: auto;

                a,
                button {
                    &:focus {
                        outline: auto;
                    }
                }
            }

            .jump-to-nav__maximize {
                display: none;
            }

            .jump-to-nav__body {
                overflow: auto;
            }
        }
    }

    .jump-to-nav--styled-scrollbar {
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            outline: 0;
            background-color: var(--jtn-gray-100);

            &:hover {
                background-color: var(--jtn-gray-200);
            }
        }
    }

    &.jump-to-nav--collapse-nested {
        .jump-to-nav__nested-list {
            height: 0;
            overflow: hidden;
        }

        .jump-to-nav__item--active {
            .jump-to-nav__nested-list {
                height: auto;
                overflow: visible;
            }
        }

        .jump-to-nav__nested-list {
            &:has(.jump-to-nav__item--active) {
                height: auto;
                overflow: visible;
            }
        }
    }
}
